.body{
  background-color: rgba(116, 115, 124, 1);
}
.loading{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 130px;
  width: 130px;
  overflow: hidden;
  animation: loading 1s linear 3;
  -webkit-animation: loading 1s linear 3;
}
@-webkit-keyframes loading {
  from { -webkit-transform:rotate(0deg); }

  to { -webkit-transform:rotate(360deg); }
}

@keyframes loading {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg);}
}

.earth img{
  width: 225px;
  height: 225px;
  display: block;
  position: absolute;
  margin-left: 40%;
  overflow: hidden;
  z-index: -99999;


animation:earth 120s 999;
-webkit-animation:earth 120s infinite;
}
@keyframes earth{
from{ transform: rotate(0deg);}
  to{ transform: rotate(360deg);}
}
@-webkit-keyframes earth {
  from{ -webkit-transform: rotate(0deg); }
  to{ -webkit-transform: rotate(360deg); }
}

.body a{
text-decoration: none;
color: inherit;
}
.logo{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.7;
}
/* for main menu */
.mobilebtn {
  display: none;
}
.mainNav {
  width:80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #5882FA;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #5882FA;
  
  margin-bottom: 10px;
  text-transform: uppercase;
}
.mainNav ul{
  margin: 0px;
  padding: 10px; 
  border-radius: 25px;
  background-color: rgba(110, 110, 110, 0.8);
   overflow: hidden;
   font-family: Georgia, serif;
   font-weight: 900;
}
.mainNav ul li {
  display: inline;
}
.mainNav ul li a{
padding: 10px;
  padding-right: 25px;
  padding-left: 25px;
}
.mainNav ul li:hover, .mainNav ul li a:hover {
  border-radius: 25px;
  color: #FA5858; 
  animation:navbackground 1s;
-webkit-animation:navbackground 1s; /* Safari and Chrome */
}
@keyframes navbackground
{
from {background:#6E6E6E;}
to {background:#000;}
}

@-webkit-keyframes navbackground /* Safari and Chrome */
{
from {background:#6E6E6E;}
to {background:#000;}
}

/* end of main menu */
.content{
  position: relative;
  width:80%;
  height: 90%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: #2E2E2E;
  background-color: rgba(213, 211, 211, 0.9);
}
.article1{
  display: block;
  position: relative;
  width: 50%;
  height: 100%;
  font-family: Georgia, serif;
  text-align: center;
  float: left;
  padding-bottom: 10px;
}
.article1 h1{
  font-size: 40px;
}
.profilepic img{
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer{
  width: 80%;
  margin: auto;
  clear: both;
  background-color: rgba(213, 211, 211, 0.7);;
}
/* about me page */
.myimage{
  width: 50%;
  height: auto;
  padding-left:20%;
  padding-top: 10px;
}
.discription{
  padding: 20px;
}
/* education page */
.resume, .education{
  padding: 20px;
}
.form{
padding: 1% 20% 5% 20%;
}
.form span{
  color: #AAA;
  font-weight: normal;
  font-size: 20px;
}
.form .text{
  width: 40%;
}
.submit{
  width: 30%;
  height: 30px;
  background-color: #848484;
  color: #FA5858;
  margin-left: 10%;
  font-weight: 900;
  font-size: 20px;
   box-shadow: 5px 5px 5px #5882FA;
}
.downloadbtn:hover, .submit:hover{
  background-color: #fff;
  border-radius: 25px;
}
.downloadbtn{
  margin-top: 20px;
  color: #FA5858;
  margin-left: 10%;
  font-weight: 900;
  font-size: 20px;
   box-shadow: 5px 5px 5px #5882FA;
   border-radius: 25px;
   cursor: pointer;
}
.errmessage {
  padding-left: 20%;
  padding-top: 5%;
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: red;
}
#googleMap{
  width:95%; 
  height:150px;
  margin: 0px 20px 20px 20px;
}
/* for samll laptops */
@media only screen and (min-width:1025px) and (max-width:1222px) {

.logo{
  width: 90%;
}
.mainNav{
  width: 90%;
}
.mainNav ul li a{
padding: 5px;
  padding-right: 20px;
  padding-left: 20px;

}
.content{
  width: 90%;
}
footer{
  width: 90%;
}
}
/* iPads (landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : landscape) {
.loading {
  display: none;
}
  .earth img{
  margin-left: 40%;
}
.logo{
  width: 100%;
}
.mainNav{
  width: 100%;
}
.mainNav ul li a{
padding: 5px;
  padding-right: 10px;
  padding-left: 10px;

}
.content{
  width: 100%;
}
footer{
  width: 100%;
}
}
/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : portrait) {
.loading{
  display: none;
}
  .earth img{
  margin-left: 40%;
}
.logo{
  width: 100%;
}
.mainNav{
  width: 100%;
}
.mainNav ul li a{
padding: 5px;
  padding-right: 5px;
  padding-left: 5px;

}
.content{
  width: 100%;
}
.profilepic{
  padding-top: 20px;
  padding-bottom: 20px;
}
footer{
  width: 100%;
}
}

/* Devices between ipad and smart phones && small tablets */
@media handheld, only screen and (min-width: 480px) and (max-width: 767px) {
.loading{
  display: none;
}
.logo{
  width: 100%;
}
.content{
  width: 100%;
}
.mainNav{
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.mainNav ul li a{
padding: 5px;
  padding-right: 20px;
  padding-left: 20px;
}

.mobilebtn{
  width: 100%;
  height: 100%;
  padding-left: 20%;
  padding-right: 20%;
  display: block;
  background-color: #fff;
  border-radius: 25px;
  font-size: 20px;
}
.mainNav .menu li {
  width: 100%;
  display: block;
  text-align: center;
}
.mainNav .menu{
  width: 100%;
  z-index: 99999;
  position: absolute;
}
}
 @media handheld, screen and (max-width: 500px){
.loading{
  display: none;
}
  .logo{
  width: 100%;
}
.content{
  width: 100%;
}
.mainNav{
  width: 100%;
  margin: 0px;
  padding: 0px;
}
  .mobilebtn{
  width: 100%;
  height: 100%;
  padding-left: 20%;
  padding-right: 20%;
  display: block;
  background-color: #fff;
  border-radius: 25px;
  font-size: 20px;
}
.mainNav .menu li {
  width: 100%;
  display: block;
  padding: 10px;
  text-align: center;
}
.mainNav .menu{
  width: 90%;
  z-index: 99999;
  position: absolute;
  background-color: rgba(110, 110, 110, 1);
}
.mainNav .menu ul li a{
  width: 90%;
}
.article1{
  width: 100%;
  height: 100%;
 }
 .earth img{
  width: 100px;
  height: 100px;
  margin-left: 40%;
}
.downloadbtn{
  width: 100%;
  margin-left: 0px;
}
footer{
  width: 100%;
}
}